.jobSearchSection {
  width: 100%;
  position: relative;
  padding: 25px;
  border-radius: 20px;
  background: #ffffff;
}

.jobSearchSection input {
  height: auto;
  padding: 12px 15px;
  border-radius: 0;
  border: none;
}

.jobSearchSection
  :where(.css-dev-only-do-not-override-1c0na6j).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: none;
  border-radius: 0;
  height: auto;
  padding: 5px 15px;
}

.jobSearchSection .ant-select-selection-placeholder,
.jobSearchSection input::placeholder {
  color: #979ec2;
  font-size: 18px;
}


.jobSearchSection input:focus {
  outline: none;
  border: none;
}
