.jobSearchSection {
  width: 100%;
  position: relative;
  padding: 15px;
  background: #ffffff;
  margin: auto;
}
.searchBtn {
  background: rgb(239 74 68);
}
.searchBtn:hover {
  background: rgb(2, 11, 97) !important;
}